<launch>
<!--  TODO: make these parameters local -->
 <rosparam param="rate">8.0</rosparam>
 <rosparam param="ticks_meter">56</rosparam>
 <rosparam param="base_width">0.245</rosparam>
 <rosparam param="distance_scale">1</rosparam>
 <rosparam param="rolling_pts">10</rosparam>
 <param name="robot_description" textfile="knex.urdf" />
 
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
 
 

  <node pkg="knex_ros" type="knex_arduino_connector.py" name="knex_arduino_connector" output="screen"/>
  <node pkg="knex_ros" type="diff_tf.py" name="diff_tf" output="screen"/>
  <node pkg="knex_ros" type="range_filter.py" name="range_filter" output="screen"/>
  <node pkg="knex_ros" type="range_to_laser.py" name="range_to_laser" output="screen"/> 
  <node pkg="knex_ros" type="wheel_scaler.py" name="wheel_scaler" output="screen"/>
  <node pkg="knex_ros" type="pid_velocity.py" name="lpid_velocity" output="screen">
      <rosparam param="Kp">4</rosparam>
      <rosparam param="Ki">4</rosparam>
      <rosparam param="Kd">.000002</rosparam>
      <rosparam param="out_min">-255</rosparam>
      <rosparam param="out_max">255</rosparam>
      <rosparam param="rate">30</rosparam>
      <rosparam param="rolling_pts">5</rosparam>
      <remap from="wheel" to="lwheel"/>
      <remap from="motor_cmd" to="lmotor_cmd"/>
      <remap from="wheel_vtarget" to="lwheel_vtarget"/>
  </node> 
  <node pkg="knex_ros" type="pid_velocity.py" name="rpid_velocity" output="screen">
      <rosparam param="Kp">4</rosparam>
      <rosparam param="Ki">4</rosparam>
      <rosparam param="Kd">.000002</rosparam>
      <rosparam param="out_min">-255</rosparam>
      <rosparam param="out_max">255</rosparam>
      <rosparam param="rate">30</rosparam>
      <rosparam param="rolling_pts">5</rosparam>
      <remap from="wheel" to="rwheel"/>
      <remap from="motor_cmd" to="rmotor_cmd"/>
      <remap from="wheel_vtarget" to="rwheel_vtarget"/>
  </node> 
</launch>